

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.jumbotron {
  text-align: center;
  font-weight: 200;
}
.jumbotron h1 {
  font-weight: 100; 
}

.tooltip {
  opacity: 1;
}
h2, h3 {
  text-align: left;
}
h3 { 
  margin-bottom: 1em;
}
.chart {
  position: relative;
}
.chart .controls {
  position: absolute;
  right: 0;
  top: 0;
}
.chart .controls ul {
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 0;
}
.chart .controls ul li {
  display: inline-block;
  list-style-type: none;
  width: 12px;
  height: 12px;
  color: #333;
  line-height: 1;
}
.chart .controls ul li a {
  color: #333;
  zoom: 1; 
  filter: alpha(opacity = 100);
}
