@charset "UTF-8";

 
.icon-home-1:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e81c'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e815'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-attention-circled:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-minus-circled:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-info-circled-1:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-comment-1:before { content: '\e822'; } /* '' */
.icon-chat-1:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-bookmark-empty:before { content: '\e807'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-mail-alt:before { content: '\e819'; } /* '' */
.icon-comment-empty:before { content: '\e81e'; } /* '' */
.icon-chat-empty:before { content: '\e80d'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-bell-alt:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e817'; } /* '' */
.icon-user-1:before { content: '\e81d'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e81f'; } /* '' */
.icon-bookmark-1:before { content: '\e806'; } /* '' */
.icon-link-1:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */