@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?10067325');
  src: url('../font/fontello.eot?10067325#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?10067325') format('woff'),
       url('../font/fontello.ttf?10067325') format('truetype'),
       url('../font/fontello.svg?10067325#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10067325#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home-1:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e81b'; } /* '' */
.icon-star-empty:before { content: '\e81c'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-mail:before { content: '\e818'; } /* '' */
.icon-edit:before { content: '\e815'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-attention-circled:before { content: '\e816'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-minus-circled:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e812'; } /* '' */
.icon-info-circled-1:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-comment-1:before { content: '\e822'; } /* '' */
.icon-chat-1:before { content: '\e821'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-trash:before { content: '\e814'; } /* '' */
.icon-resize-full:before { content: '\e801'; } /* '' */
.icon-bookmark-empty:before { content: '\e807'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-mail-alt:before { content: '\e819'; } /* '' */
.icon-comment-empty:before { content: '\e81e'; } /* '' */
.icon-chat-empty:before { content: '\e80d'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-bell-alt:before { content: '\e820'; } /* '' */
.icon-info:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e817'; } /* '' */
.icon-user-1:before { content: '\e81d'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-search:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e809'; } /* '' */
.icon-bell:before { content: '\e81f'; } /* '' */
.icon-bookmark-1:before { content: '\e806'; } /* '' */
.icon-link-1:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '🔧'; } /* '\1f527' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */